@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300,300i,700&display=swap&subset=cyrillic');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Abel';
    /* font-family: 'Open Sans Condensed'; */
    /* overflow-x: hidden; */
}
html{
    scroll-behavior: smooth;
}
i{
    padding: 10px;
    top: 30px;
}
:root{
   --main-bg-color: #4169E1;
   --textcolor: black; 
   --iconcolor: #FFFAF0
}

/* main container */
.main{
    background-color: var(--main-bg-color);
}

/* Sidebar */
.sidebar{
    position: fixed;
    left: -100vh;
    width: 30vh;
    height: 100%;
    background-color: var(--main-bg-color);
    transition: all .5s ease;
}
.sidebar header {
    background: rgb(57, 93, 200);
    font-size: 6vh;
    color: white;
    text-align: center;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    font-size: 20px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .5s;
}
.sidebar ul a:hover{
    background-color: rgb(52, 79, 158);
    
}
ul li:hover a{
    padding-left: 12px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: var(--main-bg-color);
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -155px;
    top: 14px;
    font-size: 18px;
    padding: 4px 9px;
    color: white;
}
#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;

}
#check:checked ~ label #cancel{
    left: 155px;
}
/* TOLL COST */

.toll-cost{
   height: 9vh;
   width: 35vh;
   color: blue; 
   position: absolute;
   top: 0px;
   right: 0px;
   padding-top: 5px;
}
/* Map container */
.map-container{
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
}
